body {
  margin: 0;
  font-family: "Roboto", "Arial" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: rgb(214, 26, 26);
}

//still not complete,revision later
:root {
  background-color: rgb(58, 139, 185);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
